<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chiliza Advisory Services {% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <h2>Chiliza Advisory Service </h2>
        <h1>C.A.S </h1>
        <nav>
            <ul>
                <li><a href="{% url 'risk_calculator' %}">Risk Calculator</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Notification Messages Section -->
    <div id="notification" class="notification"></div>

    <!-- Main Content -->
    {% block content %}
    {% endblock %}
    
    <footer>
        <p>&copy; 2024 Chiliza Advisory Services (C.A.S). All rights reserved.</p>
    </footer>
</body>
</html>
